.main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
  /* min-height: 100vh; */
}

.majorDiv {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* border: 1px solid white; */
  height: 595px;
  width: 900px;
  margin-left: 5%;
}

.title {
  font-size: xx-large;
  background-color: #f3ec78;
  background-image: linear-gradient(15deg, #af4261, #f3ec78);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  /* border: 1px solid white; */
  margin-bottom: 2%;
}

.titleImg {
  height: 200px;
  width: 300px;
  object-fit: contain;
}

.inputBox {
  border: 1px solid white;
  border-radius: 20px;
  background-image: linear-gradient(
    130deg,
    hsl(28deg 52% 53%) 0%,
    hsl(26deg 51% 53%) 8%,
    hsl(24deg 48% 54%) 15%,
    hsl(21deg 46% 54%) 22%,
    hsl(19deg 44% 54%) 28%,
    hsl(17deg 41% 54%) 34%,
    hsl(15deg 38% 54%) 40%,
    hsl(13deg 35% 53%) 45%,
    hsl(11deg 32% 53%) 50%,
    hsl(9deg 29% 52%) 55%,
    hsl(7deg 26% 52%) 59%,
    hsl(6deg 25% 51%) 63%,
    hsl(5deg 24% 52%) 67%,
    hsl(4deg 23% 52%) 71%,
    hsl(4deg 22% 52%) 75%,
    hsl(3deg 21% 52%) 78%,
    hsl(3deg 20% 52%) 82%,
    hsl(2deg 19% 52%) 86%,
    hsl(2deg 18% 52%) 89%,
    hsl(1deg 17% 52%) 93%,
    hsl(1deg 16% 53%) 96%,
    hsl(0deg 15% 53%) 100%
  );
  box-shadow: 0px 0px 40px white;
  height: 425px;
  width: 800px;
  padding: 5%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.hide {
  display: none;
}

.placeholderText {
  font-size: 70px;
  font-weight: bolder;
  background-color: #f3ec78;
  background-image: linear-gradient(
    40deg,
    hsl(0deg 100% 100%) 0%,
    hsl(17deg 100% 78%) 36%,
    hsl(26deg 83% 53%) 59%,
    hsl(15deg 95% 47%) 78%,
    hsl(2deg 80% 53%) 92%,
    hsl(0deg 75% 58%) 100%
  );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-bottom: 2%;
}

.primaryBtn {
  font-family: 'Hanken Grotesk', sans-serif;
  text-align: left;
  color: black;
  font-size: medium;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  margin: 10px;
}

.primaryBtn:hover {
  color: white;
  background-color: rgba(200, 200, 200, 0.5);
}

.primaryBtn:active {
  color: white;
  background-color: rgba(100, 100, 100, 0.5);
}

.altBtn {
  font-family: 'Hanken Grotesk', sans-serif;
  text-align: left;
  color: black;
  font-size: medium;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  background-color: transparent;
  padding: 10px;
  margin: 10px;
}

.altBtn:hover {
  color: white;
  background-color: rgba(200, 200, 200, 0.5);
}

.altBtn:active {
  color: white;
  background-color: rgba(100, 100, 100, 0.5);
}

.uploadImg {
  height: 150px;
  width: 150px;
  object-fit: contain;
}

.imgInput {
  border: 1px solid #ccc;
  display: inline-block;
  cursor: pointer;

  background-color: rgba(255, 255, 255, 0.5);

  padding: 10px;
  margin: 10px;
  border-radius: 10px;

  font-family: 'Hanken Grotesk', sans-serif;
  font-size: medium;
}
.imgInput:hover {
  color: white;
  background-color: rgba(200, 200, 200, 0.5);
}

.imgInput:active {
  color: white;
  background-color: rgba(100, 100, 100, 0.5);
}

.buttonBox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* MODAL */

.modalclosed {
  display: none;
}

.modalcontainer {
  position: fixed !important;
  background: rgba(225, 225, 225, 0.95);
  color: black;
  z-index: 10;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  width: 60vw;
  height: 100vh;
  padding: 20px;
  overflow: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
}

.modalcontents {
  overflow: scroll;
}

.modaltitlecontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.modalxicon {
  width: 30px;
  height: 30px;
}

.modaltitle {
  font-size: 30px;
  font-weight: 700;
  /* margin-bottom: 15px; */
  position: sticky;
  font-family: 'Playfair Display', serif;
}

.bodytext {
  font-family: 'Hanken Grotesk', sans-serif;
  height: 75%;
  font-weight: 300;
  line-height: 1.5;
  overflow-y: scroll;
  text-indent: 30pt;
  border: 1px solid rgba(181, 181, 181, 0.5);
  padding: 15px;
}
