.main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
  /* min-height: 100vh; */
}

.majorDiv {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* border: 1px solid white; */
  height: 595px;
  width: 900px;
  margin-left: 5%;
}

.title {
  font-size: xx-large;
  background-color: #f3ec78;
  background-image: linear-gradient(15deg, #af4261, #f3ec78);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  /* border: 1px solid white; */
  margin-bottom: 2%;
}

.titleImg {
  height: 200px;
  width: 300px;
  object-fit: contain;
}

.inputBox {
  border: 1px solid white;
  /* background-image: linear-gradient(45deg, rgb(255, 89, 0), rgb(248, 172, 50)); */
  background-image: linear-gradient(
    130deg,
    hsl(28deg 52% 53%) 0%,
    hsl(26deg 51% 53%) 8%,
    hsl(24deg 48% 54%) 15%,
    hsl(21deg 46% 54%) 22%,
    hsl(19deg 44% 54%) 28%,
    hsl(17deg 41% 54%) 34%,
    hsl(15deg 38% 54%) 40%,
    hsl(13deg 35% 53%) 45%,
    hsl(11deg 32% 53%) 50%,
    hsl(9deg 29% 52%) 55%,
    hsl(7deg 26% 52%) 59%,
    hsl(6deg 25% 51%) 63%,
    hsl(5deg 24% 52%) 67%,
    hsl(4deg 23% 52%) 71%,
    hsl(4deg 22% 52%) 75%,
    hsl(3deg 21% 52%) 78%,
    hsl(3deg 20% 52%) 82%,
    hsl(2deg 19% 52%) 86%,
    hsl(2deg 18% 52%) 89%,
    hsl(1deg 17% 52%) 93%,
    hsl(1deg 16% 53%) 96%,
    hsl(0deg 15% 53%) 100%
  );
  box-shadow: 0px 0px 40px white;
  height: 425px;
  width: 800px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.hide {
  display: none;
}

.placeholderText {
  font-size: 70px;
  font-weight: bolder;
  background-color: #f3ec78;
  /* background-image: linear-gradient(15deg, #af4261, #f3ec78); */
  background-image: linear-gradient(
    40deg,
    hsl(0deg 100% 100%) 0%,
    hsl(17deg 100% 78%) 36%,
    hsl(26deg 83% 53%) 59%,
    hsl(15deg 95% 47%) 78%,
    hsl(2deg 80% 53%) 92%,
    hsl(0deg 75% 58%) 100%
  );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-bottom: 2%;
  /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black; */
}

.primaryBtn {
  font-family: 'Hanken Grotesk', sans-serif;
  text-align: left;
  color: black;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  margin: 10px;
}

.primaryBtn:hover {
  color: white;
  background-color: rgba(200, 200, 200, 0.5);
}

.primaryBtn:active {
  color: white;
  background-color: rgba(100, 100, 100, 0.5);
}

.altBtn {
  font-family: 'Hanken Grotesk', sans-serif;
  text-align: left;
  color: black;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  background-color: transparent;
  padding: 10px;
  margin: 10px;
}

.altBtn:hover {
  color: white;
  background-color: rgba(200, 200, 200, 0.5);
}

.altBtn:active {
  color: white;
  background-color: rgba(100, 100, 100, 0.5);
}

.uploadImg {
  height: 150px;
  width: 150px;
  object-fit: contain;
}

.imgInput {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 15px 30px;
  cursor: pointer;
}

/* .description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
} */

/* .code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  max-width: 100%;
  width: var(--max-width);
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
  text-wrap: balance;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
} */

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

/* MODAL */

.modalclosed {
  display: none;
}

.modalcontainer {
  position: fixed !important;
  background: rgba(225, 225, 225, 0.95);
  color: black;
  z-index: 10;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  width: 60vw;
  height: 100vh;
  padding: 20px;
  overflow: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
}

.modalcontents {
  overflow: scroll;
}

.modaltitlecontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.modalxicon {
  width: 30px;
  height: 30px;
}

.modaltitle {
  font-size: 30px;
  font-weight: 700;
  /* margin-bottom: 15px; */
  position: sticky;
  font-family: 'Playfair Display', serif;
}

.bodytext {
  font-family: 'Hanken Grotesk', sans-serif;
  height: 75%;
  font-weight: 300;
  line-height: 1.5;
  overflow-y: scroll;
  text-indent: 30pt;
  border: 1px solid rgba(181, 181, 181, 0.5);
  padding: 15px;
}
